GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile
HH_API_USER_AGENT=job-helper-api/1.0 (ganeev_andrey@vk.com)
HH_ACCESS_TOKEN=
VK_GROUP_TOKEN=vk1.a.ALf_vMvi9eUlGvzp0aQu0UEhqQXYSrt8HA2BbateUwOVAXLE68gwAZ4BFmPyK2Fq-XyVKCR1fGtWP3UIkscQmWtDioBlcWwGNcLh33ws09GYAdXcSkRHKkSDDfZ5jeiXJZ2o6ZQ75LqGkkYFjgOQOJdXo49hcymk5S9lflMFFD5frBEpLdFj8_iT_JwzpbxmO03rjqbeaEY9HpRTDosC_w
VK_GROUP_ID=237658854
VK_DIGEST_PEER_ID=220363548
WEB_APP_URL=http://localhost:5173
SEARCH_INTERVAL_MINUTES=10
DIGEST_CRON=0 9 * * *
DIGEST_TIMEZONE=Europe/Moscow
SQLITE_FILE_PATH=./data/job-helper.sqlite
