image: docker:24.0.5
services:
  - docker:24.0.5-dind

stages:
  - build

build_job:
  stage: build
  only:
    - master
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG  .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG 