name: Build and Push Bot Image

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GitLab Registry
        uses: docker/login-action@v3
        with:
          registry: registry.gitlab.com
          username: ${{ secrets.GL_USER }}
          password: ${{ secrets.GL_TOKEN }}

      - name: Build and Push Bot
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Убедись, что путь к репозиторию верный
          tags: registry.gitlab.com/ganeevandrej/job-halper-bot:latest